footer {
    border-top: 8px black;
    border-top-style: solid;
    text-align: right;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

img {
    width: 5in;
    height: 7.5in;
    border-top: 5 in black;
    border-top-style: solid;
    border-bottom: 5 in black;
    border-bottom-style: solid;
    border-left: 7.5 in black;
    border-left-style: solid;
    border-right: 7.5 in black;
    border-right-style: solid;
}

h1 {
text-align: center;
font-family:'Times New Roman', Times, serif;
font-size: 30pt;
color: white;
text-shadow: 2px 2px 5px black;
}
 h2 {
font-family: 'Times New Roman', Times, serif;
color: white;
text-shadow: 2px 2px 5px black;
 }
 p {
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
color: white;
 }
 h3 {
font-family: 'Times New Roman', Times, serif;
text-align: center;
color: white;
text-shadow: 2px 2px 5px black;
 }
 body {
    background-color: maroon;
 }
 .center {
     display: block;
     margin-left: auto;
     margin-right: auto;
 }
 header h2 {
     text-align: center;
     font-family: 'Times New Roman', Times, serif;
     font-size: 15pt;
 }
 a {
     color: white;
 }