footer {
    border-top: 8px black;
    border-top-style: solid;
    text-align: right;
    font-family: 'Times New Roman', Times, serif;
}

img {
    width: 5in;
    height: 7.5in;
}

h1 {
text-align: center;
font-family:'Times New Roman', Times, serif;
font-size: 30pt;
}
 h2 {
font-family: Arial, Helvetica, sans-serif;
 }
 p {
font-family: Arial, Helvetica, sans-serif;
 }
 h3 {
font-family: Arial, Helvetica, sans-serif;
 }
 body {
    background-color:silver;
 }
 .center {
     display: block;
     margin-left: auto;
     margin-right: auto;
 }